{
    "check-coverage": true,
    "lines": 40,
    "statements": 40,
    "functions": 30,
    "branches": 20,
    "extension": [
        ".ts"
    ],
    "include": [
        "src/**/*.ts"
    ],
    "exclude": [
        "**/*.spec.ts",
        "src/service/util.ts"
    ],
    "reporter": [
        "lcov",
        "text-lcov",
        "text-summary"
    ]
}